{% extends 'core/base.html' %}
{% load static %}
{% block corecss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'assets/css/myassets.css' %}">
{% endblock %}

{% block content %}
    <body>
    <div class="container mt-5">
        <h1 class="text-warning mb-5 border-bottom" style="font-family: 'Satisfy', cursive !important;">My Assets /
            Strengths</h1>
        <ul>
            <li class="main-one"><u><b>Can Easily Adapt</b></u></li>
            <ul>
                <li class="side-one">I can adapt to any new technology and can excel my technical skills through
                    continuous
                    learning.
                </li>
            </ul>
            <li class="main-one"><u><b>Timely completion of tasks</b></u></li>
            <ul>
                <li class="side-one">Got appreciation for my work in the company project for being punctual and
                    completing tasks
                    before deadlines.
                </li>
            </ul>
            <li class="main-one"><u><b>Leadership Skills</b></u></li>
            <ul>
                <li class="side-one">Led a dance team in college and our team won 1st prize in college fest ,
                    choreographed
                    and performed in Cognizant events as well .
                </li>
            </ul>

            <li class="main-one"><u><b>agile learner</b></u></li>

            <ul>
                <li class="side-one">I have the ability and willingness to learn from experience and subsequently apply
                    that learning efficiently.
                </li>
            </ul>
            <li class="main-one"><u><b>Embrace challenges</b></u></li>
            <ul>
                <li class="side-one">I Embrace challenges with enthusiasm and recognise that they are the best
                    opportunities to grow and discover strengths I never knew I had .
                </li>
            </ul>
            <li class="main-one"><u><b>artistic person</b></u></li>
            <ul>
                <li class="side-one">I am a <a href="https://www.youtube.com/watch?v=F0M9i24iuSo"> dancer </a> , I click photos , I edit and animate videos . I have learnt DSLR
                    photography ,Adobe After effects,
                    Adobe Premiere Pro and Adobe Photoshop on my own to feed my hungry artistic side .
                </li>
            </ul>

            <li class="main-one"><u><b>I am a Creative Thinker</b></u></li>
            <ul>
                <li class="side-one">I am self-motivated to try things creatively . I have
                    choreographed a dance sequence for my team with footballs , which is first of its kind in our
                    college fests.
                </li>
            </ul>
               <li class="main-one"><u><b>Good communication skills</b></u></li>
            <ul>
                <li class="side-one">I have the ability to closely collaborate with other teams . Active listening , Story telling , pitching a
                    compelling vision and clearly communicating are my strengths as well.

                </li>
            </ul>
        </ul>
    </div>
    </body>



{% endblock %}