{% extends 'core/base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-warning mb-5 border-bottom" style="font-family: 'Satisfy', cursive !important;">My Skills</h1>
        <div class="row text-white">
            <div class="col-sm-5">
                <h3 class="mt-5">Django</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: 75%;" aria-valuenow="75"
                         aria-valuemin="0" aria-valuemax="100"><b>Advanced</b>

                    </div>
                </div>
                <br>
                <ul style="list-style-type: square;">
                    <li>
                        Expertise in Python, with knowledge of Django Web Framework.
                    </li>
                    <li>Design and implementation of performance

                        efficient applications.
                    </li>
                    <li>Integration with front-end developers and coding server side logic.
                    </li>
                    <li>Familiarity with Signals , Decorators , Class based views , ModelForms ,django ORM library
                        ,Generic Views and Mixins
                        etc.
                    </li>

                    <li>Integration with database and Working knowledge of Postgress and MySQL.</li>
                    <li>Able to create database schemas that represent and support business

                        processes.
                    </li>
                    <li> Fair understanding of building RESTful APIs.</li>
                    <li> Using a IDE like PyCharm
                        and Setup of virtual environment & install packages.
                    </li>


                </ul>
            </div>
            <div class="col-sm-5 offset-sm-2">
                <h3 class="mt-5">Python Web Development</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: 75%;" aria-valuenow="75"
                         aria-valuemin="0" aria-valuemax="100"><b>Advanced</b>

                    </div>
                </div>
                <br>
                <ul style="list-style-type: square;">
                    <li>
                        Expertise in Python Web Framework Django.
                    </li>
                    <li>Knowledge of object-relational mapping (ORM).
                    </li>
                    <li>Familiarity with front-end technologies (like JavaScript and HTML5).
                    </li>
                    <li>Familiarity with Python Libraries.
                    </li>

                    <li>Team spirit and
                        Good problem-solving skills.
                    </li>
                    <li>Btech in Computer Science.
                    </li>


                </ul>
            </div>
            <div class="col-sm-5">
                <h3 class="mt-5">UX/UI Designing</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: 75%;" aria-valuenow="75"
                         aria-valuemin="0" aria-valuemax="100"><b>Advanced</b>

                    </div>
                </div>
                <br>
                <ul style="list-style-type: square;">
                    <li>
                        Creating the user interface based on user research insights.
                    </li>
                    <li>Good understanding of user Psychology.
                    </li>

                    <li>Ability to communicate with clients to understand their business goals and objectives.
                    </li>

                    <li>Plan and implement new , simple and intuitive designs .
                    </li>
                    <li>Create wireframes, storyboards and user flows to effectively communicate interaction and design
                        ideas.
                    </li>
                    <li>Adhere to style standards or brand requirement on fonts, colors and images .
                    </li>
                    <li>Continually conducting user usability testing and evaluating feedback.
                    </li>
                    <li>Ability to collaborate closely with developers and ensure timely results.
                    </li>
                    <li>Being up-to-date with the latest UI trends, techniques, and technologies.
                    </li>
                    <li>Actively seeking new learning in designs from websites like Dribbble , Behance , Awwwards etc.
                    </li>


                </ul>

            </div>
            <div class="col-sm-5 offset-sm-2">
                <h3 class="mt-5">Adobe XD & Figma</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width:75%;" aria-valuenow="75"
                         aria-valuemin="0" aria-valuemax="100"><b>Advanced</b>

                    </div>
                </div>
                <br>
                <ul style="list-style-type: square;">
                    <li>Expertise working in tools like Adobe XD , Figma and sketch.
                    </li>
                    <li>Creating wireframes .
                    </li>

                    <li>Adding Interactivity with Prototyping .
                    </li>

                    <li>Understanding of column grids , color palettes , typography , components , working with groups
                        and layers , repeat grid (adobe XD) ,drawing using different tools ,masking techniques , adding
                        micro interactions , animations and 3D transformations etc.
                    </li>
                    <li>Significant knowledge in adobe photoshop , adobe illustrator and can create new animations in
                        adobe after effects .
                    </li>
                    <li>Sharing an XD file for testing and updating an existing shared file after corrections.
                    </li>

                    <li>Exporting individual assets and artboards to developers.

                    </li>
                    <li>Being up-to-date with the latest UI updates and styles .
                    </li>
                    <li>Actively seeking new learning and inspiration from trendy websites .
                    </li>


                </ul>

            </div>
        </div>
        <br>
        <h1 class="text-warning mb-5 border-bottom" style="font-family: 'Satisfy', cursive !important;">Other
            Skills</h1>
        <div class="row text-white">

            <div class="col-sm-5">

                <h3 class="mt-5">HTML/CSS</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: 75%;" aria-valuenow="75"
                         aria-valuemin="0" aria-valuemax="100"><b>Advanced</b>

                    </div>
                </div>
            </div>
            <div class="col-sm-5 offset-sm-2">
                <h3 class="mt-5">SAP Basis</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: 75%;" aria-valuenow="75"
                         aria-valuemin="0" aria-valuemax="100"><b>Advanced</b>

                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <h3 class="mt-5">SAP SD</h3>
                <div class="progress">
                    <div class="progress-bar bg-info progress-bar-animated" role="progressbar"
                         style="width: 50%;" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100"><b>Intermediate</b>

                    </div>
                </div>
            </div>
            <div class="col-sm-5 offset-sm-2">
                <h3 class="mt-5">JavaScript</h3>
                <div class="progress">
                    <div class="progress-bar bg-info progress-bar-animated" role="progressbar"
                         style="width: 50%;" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100"><b>Intermediate</b>

                    </div>
                </div>
            </div>

        </div>
        <br>
        <br>
        <br>

    </div>
{% endblock %}